* {
  background-color: azure;
}
h1 {
  font-style: arial, serif;
  text-align: center;

  color: rgb(75, 70, 65);
}

#Input {
  width: 80%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid black;
  margin-bottom: 12px;
  margin-left: 10%;
  margin-right: 10%;
}

#myList {
  list-style-type: none;
  padding: 0;
  margin-left: 10%;
  margin-right: 10%;
}

#myList li a {
  text-align: center;
  border: 1px solid #ddd;
  background-color: lightgray;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  color: black;
  display: block;
}

#myList li a:hover {
  background-color: rgb(184, 179, 179);
}
